@media screen and (min-width: #{$breakpoint_small}) {
  .content-area {
  	float: left;
  	margin: 0 (-$size_site-sidebar) 0 0;
  	width: $size_site-main;
  }

  .site-main {
  	margin: 0 $size_site-sidebar 0 0;
  }

  .site-content .widget-area {
  	float: right;
  	overflow: hidden;
  	width: $size_site-sidebar;
  }

  .site-footer {
  	clear: both;
  	width: $size_site-main;
  }
}



// 
//
// .site-content .widget-area {
//   position: absolute;
//   display: block;
//   overflow: hidden;
//
//   height: 26vw;
//   width: calc((100% - 2rem) / 3);
//   margin: 1rem 0 0 0;
//   padding: 1rem;
//   top: calc(60vh - 14rem);
//   right: 0;
//   z-index: 10;
//
//   background-color: white;
//   box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
//   transition: box-shadow 0.75s cubic-bezier(0.33, 0, 0.5, 1), transform 0.75s cubic-bezier(0.33, 0, 0.5, 1);
// }
